
<h2>Crear producto</h2>

<div class="box">
    <form action="/productos/productosnuevos" method="post" >
        <h2>Ingresar producto</h2>
        <div class="form-group">
            <label for="title">Titulo</label>
            <input class="form-control" name="title" type="text" />
        </div>
        <div class="form-group">
            <label for="price">precio</label>
            <input class="form-control"  name="price" type="number" />
        </div>
        <div class="form-group">
            <label for="thumbnail">thumbnail</label>
            <input class="form-control"  name="thumbnail" type="text" />
        </div>
        <button > Enviar </button>
    </form>
    <br></br>
    <form action="/api/productos" method="get">
 <input type="submit" value="productos">
    </div>