<form action="api/productos" method="post">
 <input type="text" name="nombre" value="titulo" required>
 <input type="number" name="price" value="precio" required>
 <input type="text" value="thumbnail" value="img"required>
</form>
<form action="api/productos" method="get">
 <input type="submit" value="productos">
</form>